
<div class="row ">
  <div class="columns ">

  <h1><object data="../assets/bike.svg" type="image/svg+xml"> </object> Bike On <small>Lists of recent rides</small> </h1>
<hr>
    <h3>
      <% @rides.each do |ride| %>

        <%= link_to page_time(ride["createdAt"]) , :action => "show", :id => ride["objectId"] %>

          <%  if ride["shutoffReason"] == "Low signal" %>
            <span class="radius  alert label">Low Singal</span>
          <% end %>
          <br>
      <% end %>


  </div>
</div>
