
<div class="row ">
  <div class="columns">

  <h1><object data="../assets/bike.svg" type="image/svg+xml"> </object> <%= link_to 'Bike On', root_url %> <small> Recent rides</small> </h1>
<hr>
    <h3>
      <% @rides.each do |ride| %>

        <%= link_to page_time(ride["createdAt"]) , :action => "show", :id => ride["objectId"] %>
        <small>

          <%= [ride["creator"]["firstName"],ride["creator"]["lastName"]].join(' ') if ride["creator"] %>
        </small><br>


      <% end %>


  </div>
</div>
