
<div class="row">
  <div class="columns">
      <h1><object data="../assets/bike.svg" type="image/svg+xml"></object> Bike On <small>Trip Detail</small> </h1>
      <hr>
      <h3>
        Max Speed: <%= meters_to_miles(@max_speed) %> MPH<br>
        Altitude Change: <%= meters_to_feet(@altitude_change) %> FT<br>

      <small>Speed</small>
      <div id="speed" style="height: 250px;"></div>

      <small>Altitude</small>
      <div id="altitude" style="height: 250px;"></div>

  </div>
</div>

<script>
new Morris.Area({
  element: 'speed',
  data:<%= @morris_data[1..-1].to_json.html_safe %>,
  xkey: ['time'],
  ykeys: ['speed'],
  labels: ['Speed'],
  pointSize: "0",
  yLabelFormat: function (y) { return y.toString() + 'mph'; },

});

new Morris.Area({
  element: 'altitude',
  data:<%= @morris_data[1..-1].to_json.html_safe %>,
  xkey: ['time'],
  ykeys: ['altitude'],
  labels: ['Altitude'],
  pointSize: "0",
  lineColors: ['#da7000'],
  yLabelFormat: function (y) { return y.toString() + 'ft'; }

});


</script>